@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .Page {
        @apply bg-white shadow divide-y divide-gray-400 leading-normal rounded-md transform scale-95
    }
    text-b{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .has-focus {
        border-radius: 1px;
        box-shadow: 0 0 0 1px blue;
    }
}
